body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
}

.sketchfab-embed-wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
iframe{
    display: flex;
    width: 100%;
    height: 100%;
}
p{
    display:none;
}
.btn{
    display: flex;
    width: 100%;
    height: 194px;
    justify-content: center;
    align-items: center;
}
.stylea{
    display: flex;
    border: solid 2px black;
    border-radius: 2em;
    text-decoration: none;
    height: fit-content;
    padding: 15px;
    font-size: 32px;
    box-shadow: black 5px 4px 9px;
    text-align: center;
}